<br>
<button class="btn btn-sm" style="cursor: pointer; margin: 10px;"
        *ngFor="let key of keys" (click)="focus=key" [ngClass]="{'btn-success': focus==key}">{{key}}</button>
<br>
<button class="btn btn-success" style="margin: 10px" (click)="save()">Save</button>
{{ response }}
<button class="btn" style="margin: 10px" (click)="init()">Reload</button>

<div id="container" *ngIf="focus">

  <app-picture class="elm" *ngFor="let elm of data[focus]; let i = index;"
               [parent]="this" [data]="elm" [curr_key]="focus" [i]="i"></app-picture>

</div>
