<div class="row">
  <div class="col-9">
    <a target="_blank" href="{{url+'&clickref=TR'}}">
      <div [ngClass]="{'img-place': !mini, 'img-place-mini': mini}">
        <img src="{{ image.url }}"
             [ngStyle]="{ 'height': image.hauteur+'px',
                              'margin-top': '-'+image.decalage+'px'}">
      </div>
    </a>
  </div>
  <div class="col-3">
    <label>
      Hauteur :
      <input type="number" name="height" value="{{ image.hauteur}}" min="0"
             (change)="parent.updateImage(image_name, 'hauteur', $event.target.value)">
    </label>
    <label>
      Decalage :
      <input type="number" name="decalage" value="{{ image.decalage}}" min="0"
             (change)="parent.updateImage(image_name, 'decalage', $event.target.value)">
    </label>
  </div>
</div>
