<div class="container-fluid">
  <div class="row">

    <div class="col-3" *ngIf="bijou.id">
      <app-image [parent]="this" [url]="bijou.url" [image_name]="'thumb'" [image]="bijou.images['thumb']"></app-image>
      <app-image *ngIf="bijou.images['mini_0']" [parent]="this" [url]="bijou.url" [image_name]="'mini_0'" [image]="bijou.images['mini_0']" [mini]="true"></app-image>
      <app-image *ngIf="bijou.images['image_1']" [parent]="this" [url]="bijou.url" [image_name]="'image_1'" [image]="bijou.images['image_1']"></app-image>
      <app-image *ngIf="bijou.images['mini_1']" [parent]="this" [url]="bijou.url" [image_name]="'mini_1'" [image]="bijou.images['mini_1']" [mini]="true"></app-image>
      <app-image *ngIf="bijou.images['image_2']" [parent]="this" [url]="bijou.url" [image_name]="'image_2'" [image]="bijou.images['image_2']"></app-image>
      <app-image *ngIf="bijou.images['mini_2']" [parent]="this" [url]="bijou.url" [image_name]="'mini_2'" [image]="bijou.images['mini_2']" [mini]="true"></app-image>
      <app-image *ngIf="bijou.images['image_3']" [parent]="this" [url]="bijou.url" [image_name]="'image_3'" [image]="bijou.images['image_3']"></app-image>
      <app-image *ngIf="bijou.images['mini_3']" [parent]="this" [url]="bijou.url" [image_name]="'mini_3'" [image]="bijou.images['mini_3']" [mini]="true"></app-image>
      <app-image *ngIf="bijou.images['image_4']" [parent]="this" [url]="bijou.url" [image_name]="'image_4'" [image]="bijou.images['image_4']"></app-image>
      <app-image *ngIf="bijou.images['mini_4']" [parent]="this" [url]="bijou.url" [image_name]="'mini_4'" [image]="bijou.images['mini_4']" [mini]="true"></app-image>

      <h3>{{ bijou.nom }}</h3>
      <h4>{{ bijou.categorie }}</h4>
      <h5>{{ bijou.description }}</h5>
      <h4>{{ bijou.prix }} € {{ bijou.data.ancien_prix }}</h4>
      <h5>{{ bijou.matiere }}</h5>
      <h5>{{ bijou.size }}</h5>
      <h5>Id : {{ bijou.id }}</h5>
      <h5>Product Id : {{ bijou.product_id }}</h5>
      <h5>Reste : {{ bijou.left }}</h5>
      <h5>Fait : {{ bijou.done }}</h5>
      <h5>Treated : {{ bijou.treated }}</h5>
      <h5>Banned : {{ bijou.banned }}</h5>
    </div>

    <div class="col-5">
      <app-listener #listener [parent]="this"></app-listener>
    </div>

    <div class="col-4" *ngIf="bijou.id">
      <app-form [parent]="this" [key]="'couleur_metal'"></app-form>
      <app-form2 [parent]="this" [key]="'couleurs'"></app-form2>
      <app-form *ngIf="bijou.categorie == 'Bague'" [parent]="this" [key]="'bague_monture'"></app-form>
      <app-form *ngIf="bijou.categorie == 'Collier'" [parent]="this" [key]="'collier_longueur'"></app-form>
      <app-form *ngIf="bijou.categorie == 'Collier'" [parent]="this" [key]="'collier_forme'"></app-form>
      <app-form *ngIf="bijou.categorie == 'Boucle_oreil'" [parent]="this" [key]="'boucle_forme'"></app-form>
      <app-form [parent]="this" [key]="'taille'"></app-form>
      <app-form [parent]="this" [key]="'occasion'"></app-form>
      <app-form [parent]="this" [key]="'qualite'"></app-form>
      <app-form2 [parent]="this" [key]="'styles'"></app-form2>
      <div class="bouton" style="color: green; border-color: green" (click)="send('save')">Save</div>
      <div class="bouton" style="color: red; border-color: red" (click)="send('ban')">Ban</div>
      <div class="bouton" (click)="resetPrevious()">Reset</div>
      <div class="bouton">{{response}}</div>
      <div class="bouton"><a routerLink="/train/{{previous_id}}">Previous</a></div>
    </div>

  </div>
</div>
