.bouton {
  min-height: 50px;
  padding: 10px 0 12px;
  width: 14%;
  margin: 20px 8%;
  border: 1px solid gray;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
