.form-elem {
  width: 100%;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
  border: 1px solid grey;
  padding: 10px;
  font-size: 18px;
}

.focus {
  background-color: #ffe4db;
}

.form-label{
  width: 200px;
  display: inline-block;
}

.form-value{
  min-width: 200px;
  min-height: 20px;
  display: inline-block;
  padding-left: 10px;
}
