<div class="form-elem" (click)="parent.change_focus(key)" [ngClass]="{'focus': parent.focus == key}">
  <span class="form-label">{{key}} :</span>
  <span class="form-value">
    {{parent.bijou['data'][key]}}
  </span>
</div>
