<div style="background-color: white; font-size: 20px">
  <ul class="list-group">
    <li class="list-group-item" style="text-align: center">{{parent.focus}}</li>
    <li class="list-group-item" style="text-align: center">{{buffer}}</li>

    <ng-container *ngIf="clsse_keys.indexOf(parent.focus) >= 0" >
      <li *ngFor="let item of values; let i = index;" class="list-group-item"
          [ngClass]="{'selected': buffer === i+1, 'small': parent.focus == 'couleurs'}"
          (click)="buffer = i+1; handleKeyboardEvent(undefined)">
        {{ i+1 +' - '+ item }}
      </li>
    </ng-container>
  </ul>

</div>
