<div class="picture" (click)="open_menu = !open_menu">
  <img src="{{data['image']}}">
  <span style="display: none">{{data['id']}}</span>
  <div class="menu" *ngIf="open_menu">
    <ul class="list-group">
      <li class="list-group-item" style="text-align: center" *ngFor="let key of parent.keys"
          (click)="parent.change(i, curr_key, key)">{{key}}</li>
    </ul>
  </div>
</div>
