<div class="form-elem" (click)="parent.change_focus(key)" [ngClass]="{'focus': parent.focus == key}">
  <span class="form-label">{{key}} :</span>
  <span class="form-value">
    <span *ngFor="let elm of parent.bijou['data'][key]" (click)="parent.remove(key, elm)">{{elm}}, </span>
  </span>
</div>
